@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-pink: #d12f7a;
    --color-pink2: #ff1493;
    --color-blue: #073fcc;
    --color-black: #0c0c0c;
    --color-purple: #5f01ac;
    --color-orange: #ffa500;
    --color-green: #2aca38;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    position: fixed;
    background: 'transparent';
    transition: all .3s ease-out;
    z-index: 2;
    background-color: #6e6868bb;
}

.header-title {
    text-decoration: none;
}

.header-title h1 {
    color: var(--color-white);
    font-size: 2rem;
    transition: opacity .3s ease;
}

.header-title h1:hover {
    opacity: .8;
}

.navbar {
    max-width: 600px;
    width: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: nowrap; 
    gap: 10px;
}

.navbar-links li {
    list-style: none;
    transition: all .2s ease-in-out;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.7rem;
    font-weight: 700;
}

.navbar-links li a:hover {
    padding: 5px;
    border-radius: 15px;
    background: var(--color-blue);
}

.switch {
    width: 50px;
    height: 25px;
    background-color: var(--color-white);
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.switch[data-isOn="true"] {
    background-color: var(--color-green);
}

.handle {
    width: 23px;
    height: 23px;
    background-color: var(--color-black);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s ease;
}

.switch[data-isOn="true"] .handle {
    left: 26px;
}

.navbar-links p {
    font-weight: bolder;
    color: var(--color-white);
    font-size: 14px;
}

@keyframes written_text {
    100% {
        color: var(--color-white);
    }
}

@keyframes written_text_name {
    100% {
        color: var(--color-blue);
    }
}

@keyframes written_text_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@media (max-width: 755px) {
    .navbar-links {
        gap: 5px;
    }

    .navbar-links li a {
        font-size: 1rem;
    }

    .header-title h1 {
        font-size: 1rem; 
    }

    .navbar-links p{
        font-size: 1rem;
    }

    .switch{
        width: 25px;
    height: 12.5px;
    }

    .handle{
        width: 11.5px;
        height: 11.5px;
    }
}
